@* @model IEnumerable<Inventario.Entidades.Producto> *@
@* @using X.PagedList.Mvc.Core; *@

@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<Inventario.Entidades.Producto>
<div class="wrapper-T">
    <div class="T_box">
        <div class="T-header">
            <span>Lista de Productos</span>
        </div>
        <div class="header">
            <a asp-action="Create" asp-controller="Productos" class="btn btn-primary">Crear Nuevo</a>
        </div>
        <div class="table-responsive">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.First().ID_Producto)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Codigo)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.First().GravaIVA)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Costo)</th>
                        <th>@Html.DisplayNameFor(model => model.First().PVP)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Estado)</th>
                        <th>@Html.DisplayNameFor(model => model.First().StockProducto)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ID_Producto)</td>
                            <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.GravaIVA)</td>
                            <td>@Html.DisplayFor(modelItem => item.Costo)</td>
                            <td>@Html.DisplayFor(modelItem => item.PVP)</td>
                            <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                            <td>@Html.DisplayFor(modelItem => item.StockProducto)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID_Producto" class="btn btn-primary Editar">Editar</a>
                                <form asp-action="Delete" asp-route-id="@item.ID_Producto" method="post" class="inline-form" onsubmit="return confirmDelete();">
                                    <button type="submit" class="btn btn-danger Eliminar">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
<script>
    function confirmDelete() {
        return confirm("¿Estás seguro de que deseas eliminar este producto?");
    }
</script>
