@model Inventario.Entidades.DetalleAjusteProducto
<div>
    <h4>Detalle Ajuste Producto</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID_DetalleAjuste)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ID_DetalleAjuste)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID_Ajuste)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ID_Ajuste)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID_Producto)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ID_Producto)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.CantidadAjustada)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.CantidadAjustada)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.RazonAjuste)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.RazonAjuste)
            </div>

            <!-- Detalles del Ajuste Producto -->
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.AjusteProducto.NumeroAjuste)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.AjusteProducto.NumeroAjuste)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.AjusteProducto.Fecha)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.AjusteProducto.Fecha)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.AjusteProducto.Descripcion)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.AjusteProducto.Descripcion)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.AjusteProducto.Impreso)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.AjusteProducto.Impreso)
            </div>

            <!-- Detalles del Producto -->
            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Producto.Codigo)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Producto.Codigo)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Producto.Nombre)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Producto.Nombre)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Producto.Descripcion)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Producto.Descripcion)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Producto.GravaIVA)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Producto.GravaIVA)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Producto.Costo)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Producto.Costo)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Producto.PVP)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Producto.PVP)
            </div>

            <div class="col-sm-2">
                @Html.DisplayNameFor(model => model.Producto.Estado)
            </div>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Producto.Estado)
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="GetDetallesSQL" asp-route-id="@ViewBag.ID_Ajuste" class="btn btn-secondary">Back to List</a>
</div>