@* @model IEnumerable<Inventario.Entidades.AjusteProducto> *@
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<Inventario.Entidades.AjusteProducto>
@{
    var user = User;
    var userRole = user.FindFirst("Rol")?.Value;
}

<div class="wrapper-T">
    <div class="T_box">
        <div class="T-header">
            <span>Ajustes de Inventario</span>
        </div>
        <div class="header">
            <a asp-action="NewAjuste" class="btn btn-primary" id="Inventario">Crear Ajuste</a>
        </div>
        <div class="table-responsive">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.First().ID_Ajuste)</th>
                        <th>@Html.DisplayNameFor(model => model.First().NumeroAjuste)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Fecha)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Descripcion)</th>
                        <th>@Html.DisplayNameFor(model => model.First().Impreso)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ID_Ajuste)</td>
                            <td>
                                @Html.ActionLink(@Html.DisplayTextFor(modelItem => item.NumeroAjuste).ToString(), "GetDetallesSQL", new { id = item.ID_Ajuste }, new { @class = "btn GETdata", id = "actionLink" })
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                            <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Impreso)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>
@* <script>
    var userRole = '@userRole';
    const inventario = document.getElementById("Inventario");
    const actionLink = document.getElementById("actionLink");

    if (userRole !== "Administrador Compras") {
        inventario.disabled = true; // Deshabilitar el botón
        inventario.style.cursor = "not-allowed";
        inventario.onclick = function (event) {
            event.preventDefault(); // Prevenir la acción predeterminada
        };
        inventario.style.pointerEvents = "none";


        // Prevenir el clic en el enlace
        actionLink.style.pointerEvents = "none"; // Deshabilita el clic
        actionLink.style.cursor = "not-allowed"; // Cambia el cursor
        actionLink.onclick = function (event) {
            event.preventDefault(); // Prevenir la acción predeterminada
        };
    } else {
        inventario.disabled = false; // Habilitar el botón
        inventario.style.cursor = "pointer";

        // Habilitar el enlace
        actionLink.style.pointerEvents = "auto"; // Habilita el clic
        actionLink.style.cursor = "pointer"; // Cambia el cursor
    }
</script> *@